{% extends 'base.html.twig' %}


{% block body %}
    <div class="d-flex flex-wrap justify-content-center mt-5">
        <a class="card p-5 m-3 btn-dash shadow" href="{{ path('admin_product') }}">
            <h2>Produits</h2>
        </a>
        <a class="card p-5 m-3 btn-dash shadow" href="{{ path('admin_category') }}">
            <h2>Category</h2>
        </a>
    </div>
{% endblock %}
