{% extends 'base.html.twig' %}



{% block body %}
    <main>

        <div class="card p-3 mt-5">
            <h1>Adresse</h1>
            <hr>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mt-3">
                <a href="{{ path('admin') }}" ><i class="fas fa-user-shield me-2"></i>Manage Shop</a>
            </div>
        {% endif %}

    </main>
{% endblock %}
